<h1>All cocktails</h1>

<%= cl_image_tag("https://res.cloudinary.com/duamswyxb/image/upload/v1611858468/ysswtt3edlhtuedgf9jw.jpg",
      width: 400, height: 300, crop: :fill) %>

<ul>
<% @cocktails.each do |cocktail| %>
  <li> <%= cocktail.name %>   /// <%= link_to  "go to !", cocktail_path(cocktail) %></li>
<% end %>
</ul>

<%= link_to "Create a new Cocktail?", new_cocktail_path %>

